{% extends 'usermaster.html' %}
{% load static %}
{% block 'title' %}
Cart

{% endblock %}

{% block 'css' %}{% endblock %}

{% block 'main' %}

<!--------------- cart-section---------------->
<section class="product-cart product footer-padding">
    <div class="container">
        <div class="cart-section">
            <table>
                <tbody>
                    <tr class="table-row table-top-row">
                        <td class="table-wrapper wrapper-product">
                            <h5 class="table-heading">PRODUCT</h5>
                        </td>
                        <td class="table-wrapper">
                            <div class="table-wrapper-center">
                                <h5 class="table-heading">PRICE</h5>
                            </div>
                        </td>
                        <td class="table-wrapper">
                            <div class="table-wrapper-center">
                                <h5 class="table-heading">QUANTITY</h5>
                            </div>
                        </td>
                        <td class="table-wrapper wrapper-total">
                            <div class="table-wrapper-center">
                                <h5 class="table-heading">TOTAL</h5>
                            </div>
                        </td>
                        <td class="table-wrapper">
                            <div class="table-wrapper-center">
                                <h5 class="table-heading">ACTION</h5>
                            </div>
                        </td>
                    </tr>
                    {% for row in cartdata %}
                    <tr class="table-row ticket-row">
                        <td class="table-wrapper wrapper-product">
                            <div class="wrapper">
                                <div class="wrapper-img">
                                    <img src="{{row.product_id.product_image}}" alt="img">
                                </div>
                                <div class="wrapper-content">
                                    <a href="/product/info/{{row.product_id.product_id}}"><h5 class="heading">{{ row.product_id.product_title }}</h5></a>
                                </div>
                            </div>
                        </td>
                        <td class="table-wrapper">
                            <div class="table-wrapper-center">
                                <h5 class="heading">Rs. {{ row.product_id.product_price }}</h5>
                            </div>
                        </td>
                        <td class="table-wrapper">
                            <div class="table-wrapper-center">
                                <h5 class="heading">{{ row.cart_qty }}</h5>
                            </div>
                        </td>
                        <td class="table-wrapper wrapper-total">
                            <div class="table-wrapper-center">
                                <h5 class="heading">Rs. {{ row.total_price }}</h5>
                            </div>
                        </td>
                        <td class="table-wrapper">
                            <div class="table-wrapper-center">
                                <a href="/product/cart/{{row.cart_id}}" class="btn btn-danger btn-xs">x</a>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="wishlist-btn cart-btn">
            <a href="/product/checkout" class="shop-btn">Proceed to Checkout</a>
        </div>
    </div>
</section>
<!--------------- cart-section-end---------------->

{% endblock %}
{% block 'js' %}{% endblock %}