{% extends 'master.html' %}
{% load static %}
{% block 'title' %}
Update Product
{% endblock %}

{% block 'css' %}{% endblock %}

{% block 'main' %}
<form method="post" id="productForm" enctype="multipart/form-data" action="/product/update/{{data.product_id}}">
    {% csrf_token %}
    <div id="content">
        <div class="inner">
            <div class="row">
                <div class="col-lg-6  col-md-offset-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Update Product
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label id="txtname">SubCategory Name</label>
                                        <select class="form-control" name="txtsubcategory">
                                            <option>Please select SubCategory</option>
                                            {% for item in subcatdata %}
                                            <option {% if item.subcategory_id == data.subcategory_id.subcategory_id %}
                                                selected {% endif %} value="{{item.subcategory_id}}">
                                                {{item.subcategory_name}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="producttitle">Product Title</label>
                                        <input type="text" class="form-control" id="producttitle" name="producttitle"
                                            value="{{ data.product_title }}" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="productprice">Product Price</label>
                                        <input type="number" step="0.01" class="form-control" id="productprice"
                                            name="productprice" value="{{ data.product_price }}" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="productimage">Product Image</label>
                                        <input class="form-control" name="productimage" type="file" />
                                        <!-- Display current image if exists -->
                                        {% if data.product_image %}
                                        <img src="{{data.product_image}}" width="100">
                                        {% endif %}
                                        <input type="hidden" name="productimage" value="{{data.product_image}}" />
                                    </div>
                                    <div class="form-group">
                                        <label for="productvideourl">Product Video URL</label>
                                        <input type="url" class="form-control" id="productvideourl"
                                            name="productvideourl" value="{{ data.product_videourl }}">
                                    </div>
                                    <div class="form-group">
                                        <label for="productdescription">Product Description</label>
                                        <textarea class="form-control" id="productdescription" name="productdescription"
                                            rows="3" required>{{ data.product_description }}</textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="productspecification">Product Specification</label>
                                        <textarea class="form-control" id="productspecification"
                                            name="productspecification" rows="3"
                                            required>{{ data.product_specification }}</textarea>
                                    </div>

                                    <div class="form-group form-check">
                                        <fieldset>
                                            <label class="form-check-label" for="productisactive">Is Active</label>
                                            <div>
                                                <input type="radio" id="productisactive" name="productisactive"
                                                    value="True" {% if data.product_isactive %}checked{% endif %} />
                                                <label for="productisactive">Yes</label>
                                            </div>
                                            <div>
                                                <input type="radio" id="productisactive" name="productisactive"
                                                    value="False" {% if not data.product_isactive %} checked {% endif %} />
                                                <label for="productisactive">No</label>
                                            </div>
                                        </fieldset>
                                    </div>

                                    <button type="submit" class="btn btn-default">Update Product</button>
                                    <button type="reset" class="btn btn-default">Reset</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}

{% block 'js' %}{% endblock %}