{% extends 'usermaster.html' %}
{% load static %}
{% block 'title' %}

Change Password

{% endblock %}

{% block 'css' %}{% endblock %}

{% block 'main' %}

<div class="container tab-pane" id="v-pills-password" role="tabpanel" aria-labelledby="v-pills-password-tab"
    tabindex="0">
    <div class="row align-items-center">
        <div class="col-6 mx-auto card p-3 shadow-lg changepasstable">
            <div class="form-section">
                <form method="post">
                    {% csrf_token %}

                    {% if messages %}
                    {% for message in messages %}

                    {% if message.tags == 'error' %}
                    <div class="alert alert-danger" role="alert">
                        {{message}}
                    </div>

                    {% endif %}

                    <!-- success -->
                    {% if message.tags == 'success' %}
                    <div class="alert alert-success" role="alert">
                        {{message}}
                    </div>

                    {% endif %}
                    {% endfor %}
                    {% endif %}
                    <div class="currentpass form-item">
                        <label for="currentpass" class="form-label">Current Password*</label>
                        <input type="text" class="form-control" name="txtoldpass" id="currentpass" placeholder="******">
                    </div>
                    <div class="password form-item">
                        <label for="pass" class="form-label">Password*</label>
                        <input type="password" class="form-control" name="txtnewpass" id="pass" placeholder="******">
                    </div>
                    <div class="re-password form-item">
                        <label for="repass" class="form-label">Re-enter Password*</label>
                        <input type="password" class="form-control" id="repass" placeholder="******">
                    </div>
                    <div class="form-btn">
                        <button type="submit" class="shop-btn sm">Upldate Password</button>
                        <!-- <a href="#" class="shop-btn cancel-btn">Cancel</a> -->
                    </div>
                </form>

            </div>
        </div>
        <!-- <div class="col-lg-6">
            <div class="reset-img text-end">
                <img src="{% static 'users/assets/images/homepage-one/reset.webp' %}" alt="reset">
            </div> 
        </div> -->
    </div>
</div>

{% endblock %}
{% block 'js' %}{% endblock %}