{% extends 'usermaster.html' %}
{% load static %}
{% block 'title' %}

Checkout

{% endblock %}

{% block 'css' %}{% endblock %}

{% block 'main' %}

<!--------------- blog-tittle-section---------------->
<section class="blog about-blog">
    <div class="container">
        <div class="blog-heading about-heading">
            <h1 class="heading">Checkout</h1>
        </div>
    </div>
</section>
<!--------------- blog-tittle-section-end---------------->

<!--------------- checkout-section---------------->
<form enctype="multipart/form-data" method="POST">
    {% csrf_token %}
    <section class="checkout product footer-padding">
        <div class="container">
            <div class="checkout-section">
                <div class="row gy-5">
                    <div class="col-lg-6">
                        <div class="checkout-wrapper">
                            <!-- <a href="login.html" class="shop-btn">Log into Your Account</a> -->
                            <div class="review-form-name address-form">
                                <!-- <label for="address" class="form-label">Address*</label> -->
                                <input type="text" class="form-control" placeholder="Enter your Coupon Code">
                            </div>
                            <div class="account-section billing-section">
                                <h5 class="wrapper-heading">Billing Details</h5>
                                <div class="review-form">
                                    <div class=" account-inner-form">
                                        <div class="review-form-name">
                                            <label for="fname" class="form-label">First Name*</label>
                                            <input type="text" id="fname" name="fname" class="form-control"
                                                placeholder="First Name">
                                        </div>
                                        <div class="review-form-name">
                                            <label for="lname" class="form-label">Last Name*</label>
                                            <input type="text" id="lname" name="lname" class="form-control"
                                                placeholder="Last Name">
                                        </div>
                                    </div>
                                    <div class=" account-inner-form">
                                        <div class="review-form-name">
                                            <label for="email" class="form-label">Email*</label>
                                            <input type="email" id="email" name="email" class="form-control"
                                                placeholder="Email">
                                        </div>
                                        <div class="review-form-name">
                                            <label for="phone" class="form-label">Phone*</label>
                                            <input type="tel" id="phone" name="phone" class="form-control"
                                                placeholder="+880388**0899">
                                        </div>
                                    </div>
                                    <div class="review-form-name">

                                        <label for="state" class="form-label">State*</label>
                                        <select id="state" name="state" onchange="loadcity(this.value);"
                                            class="form-select">
                                            <option>Choose...</option>
                                            {% for item in statedata %}
                                            <option value="{{item.state_id}}">{{item.state_name}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="review-form-name address-form">
                                        <label for="address" class="form-label">Address*</label>
                                        <input type="text" id="address" name="address" class="form-control"
                                            placeholder="Enter your Address">
                                    </div>
                                    <div class=" account-inner-form city-inner-form">
                                        <div class="review-form-name">
                                            <label for="city" class="form-label">Town / City*</label>
                                            <select id="city" name="city" onchange="loadCityData(this.value);"
                                                class="form-select">
                                            </select>
                                        </div>
                                        <div class="review-form-name">
                                            <label for="number" class="form-label">Postcode / ZIP*</label>
                                            <input type="number" id="number" name="number" class="form-control"
                                                placeholder="0000">

                                            <input type="hidden" id="subtotal" name="subtotal" value="{{subtotal}}" />
                                            <input type="hidden" id="amt" name="amt" value="{{subtotal}}" />
                                        </div>
                                    </div>


                                    <!-- <div class="review-form-name checkbox">
                                        <div class="checkbox-item">
                                            <input type="checkbox" id="account">
                                            <label for="account" class="form-label">
                                                Create an account?</label>
                                        </div>
                                    </div>
                                    <div class="review-form-name shipping">
                                        <h5 class="wrapper-heading">Shipping Address</h5>
                                        <div class="checkbox-item">
                                            <input type="checkbox" id="remember">
                                            <label for="remember" class="form-label">
                                                Create an account?</label>
                                        </div>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="checkout-wrapper">
                            <a href="#" class="shop-btn">Enter Coupon Code</a>
                            <div class="account-section billing-section">
                                <h5 class="wrapper-heading">Order Summary</h5>
                                <div class="order-summery">
                                    <div class="subtotal product-total">
                                        <h5 class="wrapper-heading">PRODUCT</h5>
                                        <h5 class="wrapper-heading">TOTAL</h5>
                                    </div>
                                    <hr>
                                    <div class="subtotal product-total">
                                        <ul class="product-list">
                                            {% for row in cartdata %}
                                            <li>
                                                <div class="product-info">
                                                    <h5 class="wrapper-heading">{{ row.product_id.product_title }} X
                                                        {{row.cart_qty }}</h5>
                                                    <!-- <p class="paragraph">{{row.product_id.product_description}}</p> -->
                                                </div>
                                                <div class="price">
                                                    <h5 class="wrapper-heading">Rs. {{ row.total_price }}</h5>
                                                </div>
                                            </li>
                                            <!-- <li>
                                                <div class="product-info">
                                                    <h5 class="wrapper-heading">Beats Wireless x1</h5>
                                                    <p class="paragraph">64GB, Black, 44mm, Chain Belt</p>
                                                </div>
                                                <div class="price">
                                                    <h5 class="wrapper-heading">$48</h5>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="product-info">
                                                    <h5 class="wrapper-heading">Samsung Galaxy S10 x2</h5>
                                                    <p class="paragraph">12GB RAM, 512GB, Dark Blue</p>
                                                </div>
                                                <div class="price">
                                                    <h5 class="wrapper-heading">$279</h5>
                                                </div>
                                            </li> -->
                                            {% endfor %}

                                        </ul>
                                    </div>
                                    <hr>
                                    <div class="subtotal product-total">
                                        <h5 class="wrapper-heading">SUBTOTAL</h5>
                                        <h5 class="wrapper-heading">Rs. {{ subtotal }}</h5>
                                    </div>
                                    <div class="subtotal product-total">
                                        <ul class="product-list">
                                            <li>
                                                <div class="product-info">
                                                    <p class="paragraph">SHIPPING</p>
                                                    <h5 class="wrapper-heading">Shipping Charge</h5>

                                                </div>
                                                <div class="price">
                                                    <h5 class="wrapper-heading shipping_charge">+Rs. 0</h5>
                                                    <input type="hidden" name="shipping_charge" id="shipping_charge" />
                                                </div>
                                            </li>
                                            <li>
                                                <div class="product-info">
                                                    <p class="paragraph">Discount</p>
                                                    <h5 class="wrapper-heading">NONE</h5>

                                                </div>
                                                <div class="price">
                                                    <h5 class="wrapper-heading">-Rs. 0</h5>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <hr>
                                    <div class="subtotal total">
                                        <h5 class="wrapper-heading">TOTAL</h5>
                                        <h5 class="wrapper-heading price finalprice">Rs. {{ subtotal }}</h5>
                                    </div>
                                    <!-- <div class="subtotal payment-type">
                                        <div class="checkbox-item">
                                            <input type="radio" id="bank" name="bank">
                                            <div class="bank">
                                                <h5 class="wrapper-heading">Direct Bank Transfer</h5>
                                                <p class="paragraph">Make your payment directly into our bank account.
                                                    Please use
                                                    <span class="inner-text">
                                                        your Order ID as the payment reference.
                                                    </span>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="checkbox-item">
                                            <input type="radio" id="cash" name="bank">
                                            <div class="cash">
                                                <h5 class="wrapper-heading">Cash on Delivery</h5>
                                            </div>
                                        </div>
                                        <div class="checkbox-item">
                                            <input type="radio" id="credit" name="bank">
                                            <div class="credit">
                                                <h5 class="wrapper-heading">Credit/Debit Cards or Paypal</h5>
    
                                            </div>
                                        </div>
                                    </div> -->
                                    <button class="shop-btn">Place Order Now</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>
<!--------------- checkout-section-end---------------->

{% endblock %}
{% block 'js' %}
<script>


    function loadcity(sid) {
        $.ajax({
            url: '/loadcitybystate',
            method: 'POST',
            data: { "sid": sid },
            success: function (data) {
                var op = "<option>Please select city</option>";
                $.each(data, function (key, value) {
                    op = op + "<option value=" + value.city_id + ">" + value.city_name + "</option>"
                });
                $("#city").html(op);
            },
            error: function (error) {
                console.log("error");
            }
        });
    }

    function loadCityData(cid) {
        $.ajax({
            url: '/loadcitydata',
            method: 'POST',
            data: { "cid": cid },
            success: function (json) {
                var charge = json[0].shipping_charge;
                $('.shipping_charge').html("+Rs. " + charge);
                $('#shipping_charge').val(charge);

                var finaltotal = parseFloat($("#subtotal").val()) + parseFloat(charge);
                $("#amt").val(finaltotal);
                $(".finalprice").html("Rs. " + finaltotal)
            },
            error: function (error) {
                console.log("error");
            }
        });
    }


    $(document).ready(function () {

    });
</script>
{% endblock %}